/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;/* When setting elemt width, this makes sure it takes the padding and borders in consideration */
}

body {
  background-color: #6f90a2;
  font-family: 'Montserrat', sans-serif;
  color: #032436; /* font color */
  font-size: 12px;
  font-weight: 600;
  padding: 5vw;
  padding-top: 25px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: normal;
}

h2 {
  font-size: 35px;
  line-height: normal;
}

h3 {
  font-size: 30px;
  line-height: normal;
}

h4 {
  font-size: 25px;
  line-height: normal;
}

h5 {
  font-size: 20px;
  line-height: normal;
}

h6 {
  font-size: 15px;
  line-height: normal;
}

p {
  font-size: 12px;
  line-height: normal;
}

span {
  font-size: 12px;
  line-height: normal;
}

div {
  font-size: 12px;
  line-height: normal;
}

ul {
  font-size: 12px;
}

a {
  color: inherit;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:visited {
  color: #552600;
}

a:hover {
  color: #aa6b39;
}

a:active {
  color: undefined;
}

button {
  font-family: inherit;
  background-color: #d3cfcf;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: inline-block;
}

.button {
  font-family: inherit;
  background-color: #d3cfcf;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  display: inline-block;
}

button:hover {
  font-family: inherit;
  background-color: #e6e6e6;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
}

.button:hover {
  font-family: inherit;
  background-color: #e6e6e6;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
}

button:active .button:active {
  font-family: inherit;
  background-color: #6d6a6a;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
}

.profile__portrait {
  float: left;
  margin-right: 40px;
  border-radius: 50%;
  width: 150px;
}

.page-footer {
  clear: both;
}

.logo__picture {
  width: 200px;
}

.profile {
  max-width: 700px;  /* Sets the max width of the profile */
  margin: 0 auto;    /* Centers the content horizontaly with 0 margin on top */
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  vertical-align: middle;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

.navigation-list li:hover {
  font-size: 14px;
}

/* .grid__item {
    display: inline-block;
    width: 33%;
   } */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid__item {
    background-color: #8aaabb;
  }

  .grid__item:last-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    grid-area: 1 / 4 / 3 / 4;
  }

  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }

    .grid__item:last-child {
      grid-area: auto / auto / auto / auto;
    }

    h1 {
      font-size: 22px;
    }

    .navigation-list li {
      margin-left: 1vw;
    }
  }

  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }

  @media all and (max-width: 550px) {
    .navigation-list li {
      display: block;
    }
  }

  @media all and (max-width: 384px) {
    .logo__picture {
      width: 30vw;
      height: 100%;
    }
  }

  @media all and (max-width: 369px) {
    .hello__world {
      font-size: 5.5vw;
    }
  }
}

@-webkit-keyframes color-change {  /* Animation for svg */
  0% {
    fill: #01f;
  }

  33.333% {
    fill: #fff;
  }

  66.666% {
    fill: #f71c14;
  }

  100% {
    fill: #01f;
  }
}

@keyframes color-change {  /* Animation for svg */
  0% {
    fill: #01f;
  }

  33.333% {
    fill: #fff;
  }

  66.666% {
    fill: #f71c14;
  }

  100% {
    fill: #01f;
  }
}

@-webkit-keyframes raise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
}

@keyframes raise {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
}

.oslo {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;

  /* or short for:
    animation: 2s color-change infinite normal linear; */
}

.building {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: raise;
          animation-name: raise;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}