$primary-background-color: #f5f5f5;
$primary-dark-color: #348adb;
$primary-font-color: #333333;
$secondary-dark-color: #2b7a78;
$tertiary-dark-color: #324e58;
$primary-bright-color: #def2f1;
$secondary-bright-color: #feffff;
$link-color: #aa6b39;
$link-color-visited: #955e3a;
$link-color-hover: #ff9f40;
$link-color-active: #ff7730;

* {
  box-sizing: border-box;
}

:root {
  a {
    color: $link-color;

    &:visited {
      color: $link-color-visited;
    }

    &:hover {
      color: $link-color-hover;
    }

    &:active {
      color: $link-color-active;
    }
  }
}

body {
  background-color: $primary-background-color;
  font-family: "Comfortaa", sans-serif;
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .page-header {
    background-color: $primary-dark-color;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;

    .page-logo {
      vertical-align: middle;

      .marker-text {
        font-family: "Permanent Marker", sans-serif;
        font-size: xx-large;
      }
    }

    .navigation-list li {
      list-style-type: none;
      vertical-align: middle;
      margin-left: 15px;
    }

    .page-header__item {
      flex: 0 1 200px;
    }

    .page-header__item:last-child {
      flex-grow: 1;
      text-align: right;
    }

    a {
      color: $primary-bright-color;
      text-decoration: none;

      &:visited {
        color: $primary-bright-color;
      }

      &:hover {
        color: $secondary-bright-color;
      }

      &:active {
        color: $secondary-bright-color;
      }
    }
  }

  .profile {
    text-align: justify;

    h1 {
      text-align: left;
    }

    .profile-picture-container {
    }

    .profile__portrait {
      border-radius: 50%;
      width: 20vw;
      border: 2px solid $primary-dark-color;
    }

    .marker-text {
      font-family: "Permanent Marker", sans-serif;
      font-size: x-large;
    }
  }

  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;

    .footer-image {
      min-width: 30px;
    }
  }
}

.grid__item {
  display: flex;
  flex-direction: column;
  background-color: $primary-bright-color;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $primary-dark-color;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  .project-content {
    display: flex;
    flex-direction: column;

    .project-img {
      width: 100%;
      border-radius: 5px;
      border: 1px solid $primary-dark-color;
    }

    .project-mobile-img {
      border-radius: 5px;
      border: 1px solid $primary-dark-color;
      margin-left: auto;
      margin-right: auto;
    }

    .project-description {
      text-align: justify;
    }
  }

  .project-links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    a {
      color: $primary-bright-color;
      text-decoration: none;
      border: 1px solid $primary-dark-color;
      border-radius: 4px;
      background-color: $tertiary-dark-color;
      width: 40%;
      padding: 5px;
      text-align: center;

      &:visited {
        color: $primary-bright-color;
      }

      &:hover {
        color: $secondary-bright-color;
      }

      &:active {
        color: $secondary-bright-color;
      }
    }
  }
}

.contact-content {
  //margin: 5vw;

  .cv-button {
    text-decoration: none;
    border: 1px solid $primary-dark-color;
    border-radius: 4px;
    background-color: #d4e2e7;
    padding: 5px;
    text-align: center;
    margin-top: 100px;
    color: $primary-dark-color;

    &:visited {
      color: $primary-bright-color;
    }

    &:hover {
      color: $secondary-bright-color;
    }

    &:active {
      color: $secondary-bright-color;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr;
  }

  .contact-grid {
    display: grid;
    max-width: 40%;
    grid-gap: 5%;
    grid-template-columns: 1fr 5fr;
  }

  @media all and (max-width: 340px) {
    .contact-grid {
      div {
        font-size: small;
      }

      a {
        font-size: small;
      }
    }
  }

  @media all and (max-width: 430px) {
    .contact-grid {
      grid-template-columns: 1fr;
    }
  }

  @media all and (max-width: 767px) {
    h1 {
      font-size: x-large;
    }
    .navigation-list li {
      font-size: x-large;
    }

    .marker-text {
      font-size: large;
    }

    .projects,
    .profile,
    .contact-content {
      margin: 5vw;
    }
  }

  @media all and (min-width: 768px) and (max-width: 1023px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .navigation-list li {
      display: inline-block;
    }

    .projects,
    .profile,
    .contact-content {
      margin: 15vw;
    }
  }

  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .navigation-list li {
      display: inline-block;
    }

    .projects,
    .profile,
    .contact-content {
      margin: 0 20vw;
    }
  }
}
