* {
  box-sizing: border-box;
}

:root a {
  color: #aa6b39;
}
:root a:visited {
  color: #955e3a;
}
:root a:hover {
  color: #ff9f40;
}
:root a:active {
  color: #ff7730;
}

body {
  background-color: #f5f5f5;
  font-family: "Comfortaa", sans-serif;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .page-header {
  background-color: #348adb;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}
body .page-header .page-logo {
  vertical-align: middle;
}
body .page-header .page-logo .marker-text {
  font-family: "Permanent Marker", sans-serif;
  font-size: xx-large;
}
body .page-header .navigation-list li {
  list-style-type: none;
  vertical-align: middle;
  margin-left: 15px;
}
body .page-header .page-header__item {
  flex: 0 1 200px;
}
body .page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
body .page-header a {
  color: #def2f1;
  text-decoration: none;
}
body .page-header a:visited {
  color: #def2f1;
}
body .page-header a:hover {
  color: #feffff;
}
body .page-header a:active {
  color: #feffff;
}
body .profile {
  text-align: justify;
}
body .profile h1 {
  text-align: left;
}
body .profile .profile__portrait {
  border-radius: 50%;
  width: 20vw;
  border: 2px solid #348adb;
}
body .profile .marker-text {
  font-family: "Permanent Marker", sans-serif;
  font-size: x-large;
}
body .page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: auto;
}
body .page-footer .footer-image {
  min-width: 30px;
}

.grid__item {
  display: flex;
  flex-direction: column;
  background-color: #def2f1;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #348adb;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.grid__item .project-content {
  display: flex;
  flex-direction: column;
}
.grid__item .project-content .project-img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #348adb;
}
.grid__item .project-content .project-mobile-img {
  border-radius: 5px;
  border: 1px solid #348adb;
  margin-left: auto;
  margin-right: auto;
}
.grid__item .project-content .project-description {
  text-align: justify;
}
.grid__item .project-links {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid__item .project-links a {
  color: #def2f1;
  text-decoration: none;
  border: 1px solid #348adb;
  border-radius: 4px;
  background-color: #324e58;
  width: 40%;
  padding: 5px;
  text-align: center;
}
.grid__item .project-links a:visited {
  color: #def2f1;
}
.grid__item .project-links a:hover {
  color: #feffff;
}
.grid__item .project-links a:active {
  color: #feffff;
}

.contact-content .cv-button {
  text-decoration: none;
  border: 1px solid #348adb;
  border-radius: 4px;
  background-color: #d4e2e7;
  padding: 5px;
  text-align: center;
  margin-top: 100px;
  color: #348adb;
}
.contact-content .cv-button:visited {
  color: #def2f1;
}
.contact-content .cv-button:hover {
  color: #feffff;
}
.contact-content .cv-button:active {
  color: #feffff;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr;
  }
  .contact-grid {
    display: grid;
    max-width: 40%;
    grid-gap: 5%;
    grid-template-columns: 1fr 5fr;
  }
  @media all and (max-width: 340px) {
    .contact-grid div {
      font-size: small;
    }
    .contact-grid a {
      font-size: small;
    }
  }
  @media all and (max-width: 430px) {
    .contact-grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (max-width: 767px) {
    h1 {
      font-size: x-large;
    }
    .navigation-list li {
      font-size: x-large;
    }
    .marker-text {
      font-size: large;
    }
    .projects,
    .profile,
    .contact-content {
      margin: 5vw;
    }
  }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .navigation-list li {
      display: inline-block;
    }
    .projects,
    .profile,
    .contact-content {
      margin: 15vw;
    }
  }
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
    .navigation-list li {
      display: inline-block;
    }
    .projects,
    .profile,
    .contact-content {
      margin: 0 20vw;
    }
  }
}/*# sourceMappingURL=styles.css.map */